* {
    outline: 1px solid orange;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: #222222;
    font-family: "Verdana", sans-serif;
    color: #D4D4D4;
    font-size: 14px;
}

header {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px 80px;
}

div {
    padding: 0px 160px
}

h1 {
    font-family: "Courier Nev", serif;
    color: #ffffff;
    font-size: 45px;
}

h3 {
    font-family: "Corier New", serif;
    color:
}

header ul {
    display: inline-block;
    justify-content: flex-end;
    list-style: none;
    padding: 2px;
    vertical-align: top;
    max-width: 700px;
}

header li {
    display: inline;
}

.advantagets {
    margin: 0px;
    padding: 40px 80px 35px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #222222;
}

.advantagets_element {
    margin: 0px;
    padding: 46px 0px 45px
}

.content {
    background-color: #ffffff;
    color: #000000;
    padding: 60px 80px
}

.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60;
}

.element {
    width: 440px,
}

.recomedation {
    display: flex;
    justify-content: space-between;
}

.element p {
    margin-top: 35px;
}

recomendation ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px;
}

recomendation li {}

.footer_content {
    display: flex;
        justify-content: space-between;
}

.footer_logo{
    display: flex;
    justify-content: space-between;
    color: #555555;
    flex-direction: column
 .footer menu{
    display: flex;
    justify-content: space-between;
    width: 700px;color: #555;
     list-style: none;
     margin: 40px 0px;
     padding: 0px;
    font-weight: 40px;
     line-height: 40px;
     width: 700px
         color:#d4d4d4
    }
    .logo_content {
        display: flex
        color: #d4d4d4;
        align-items: center;
    }
    .footer_submenu{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
  line-height: 180px;
    width: 180px;
    }